{% extends 'tarea/main.html' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th class="col-sm-9">Tarea</th>
      <th>Autor</th>
      <th>Duración</th>
      <th>Tiempo creado</th>
    </tr>
  </thead>
  {% for tarea in tareas %}
  <tbody>
    <tr>
      <td><a href="{% url 'tarea_detail' pk=tarea.pk %}">{{ tarea.text }}</a></td>
      <td>{{ tarea.duration }}</td>
      <td>{{ tarea.author }}</td>
      <td>{{ tarea.created_date }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
